
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 283 47% 26%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 210 40% 96.1%;
    --chart-3: 210 40% 86.1%;
    --chart-4: 210 40% 76.1%;
    --chart-5: 210 40% 66.1%;
  }

  .dark {
    --background: 283 15% 10%;
    --foreground: 283 5% 90%;
    --card: 283 15% 12%;
    --card-foreground: 283 5% 90%;
    --popover: 283 15% 10%;
    --popover-foreground: 283 5% 90%;
    --primary: 283 47% 26%;
    --primary-foreground: 283 5% 98%;
    --secondary: 283 15% 18%;
    --secondary-foreground: 283 5% 98%;
    --muted: 283 15% 18%;
    --muted-foreground: 283 5% 70%;
    --accent: 283 15% 22%;
    --accent-foreground: 283 5% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 15% 20%;
    --input: 283 15% 20%;
    --ring: 283 47% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
}

.auth-page-background {
    position: relative;
    overflow: hidden;
}

.auth-page-background::after {
    content: '';
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 10px;
    background: linear-gradient(90deg,
        hsla(283, 47%, 26%, 0) 0%,
        hsla(283, 47%, 26%, 0.8) 50%,
        hsla(283, 47%, 26%, 0) 100%);
    filter: blur(15px);
    z-index: 0;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
